@font-face {
  font-family: "Special Elite";
  src:
    url("fonts/special-elite.woff2") format("woff2"),
    url("fonts/special-elite.woff") format("woff"),
    url("fonts/special-elite.ttf") format("truetype");
}

body {
  background: #223;
}

.container {
  display: grid;
  place-items: center;
}

typewriter-css {
  /* margin-left: 8rem; */
}
